body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}


#mainNavbar .navbar-brand{
    color: #ea1c2c;
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: #ea1c2c;
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link:hover{
    color:white;
}

span {
    color: #ea1c2c;
}

.paradesign  {
    font-size: 20px;
    color: #ea1c2c;
}

h2{
    color: #ea1c2c;
}